/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#record-player {
  width: 120px;
}

/* Add your styles below */
body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: #1db954;
}

h2 {
  margin-bottom: 20px;
  color: #1db954;
}

header {
  display: flex;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav>a {
  text-decoration: none;
  color: #fff;
}

nav>a:hover {
  color: #1db954;
}

.song-playlist {
  display: flex;
  justify-content: left;
  gap: 15px;
  background-color: #000;
  border-radius: 4px;
  padding: 8px;
  gap: 15px;
  align-items: center;
}

.song-playlist>img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.song-playlist>p {
  font-weight: bold;
}

.playlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 40px;
}

.albums {
  display: flex;
  gap: 20px;
}

.albums-container {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 15px;
  border-radius: 8px;
  background-color: #000;
}

.albums-container>img {
  width: 150px;
  height: 180px;
  border-radius: 4px;
}

.albums-container>p:first-of-type {
  font-weight: bold;
}

.albums-container>p:last-of-type {
  font-size: 0.9rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

p>a {
  text-decoration: none;
  color: #1db954;
}